.custom-offcanvas {
  left: -75%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 100;
  transition: left 0.3s ease-in;
  img {
    width: 25px;
    cursor: pointer;
  }
}
.custom-offcanvas-left {
  left: 0;
}
.opacity {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  inset: 0;
  z-index: 99;
  transition: all 1s cubic-bezier(1, -0.12, 0.56, 1);
}
.opacity-animate {
  display: block;
}
